<app-header></app-header>

<div class="main-container" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="items-container">
        <mat-card-title>Drinks</mat-card-title>
        <mat-divider></mat-divider>
        <div class="item-card-container">
            <mat-card class="item-card" *ngFor="let item of drinkItems">
                <mat-card-header>
                    <img mat-card-avatar src="{{item.iconBase64 == '' || item.iconBase64 == null ? './assets/images/drink.png' : item.iconBase64}}"/>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.description === "" ? "There's no description." : item.description}}</mat-card-subtitle>
                </mat-card-header>
                <button mat-icon-button color="primary" class="edit-button" (click)="editItem(item.id, 'DRINK')">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" class="clear-button" (click)="deleteItem(item.id)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-card>
        </div>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="addItem('DRINK')"><mat-icon>add</mat-icon>Add</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="items-container">
        <mat-card-title>Dishes</mat-card-title>
        <mat-divider></mat-divider>
        <div class="item-card-container">
            <mat-card class="item-card" *ngFor="let item of dishItems">
                <mat-card-header>
                    <img mat-card-avatar src="{{item.iconBase64 == '' || item.iconBase64 == null ? './assets/images/dish.jpg' : item.iconBase64}}"/>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.description === "" ? "There's no description." : item.description}}</mat-card-subtitle>
                </mat-card-header>
                <button mat-icon-button color="primary" class="edit-button" (click)="editItem(item.id, 'DISH')">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" class="clear-button" (click)="deleteItem(item.id)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-card>
        </div>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="addItem('DISH')"><mat-icon>add</mat-icon>Add</button>
        </mat-card-actions>
    </mat-card>

    <div class="main-buttons-container" fxLayout="column" fxLayoutAlign="end end">
        <button mat-raised-button color="warn" (click)="discardChanges()">Discard changes</button>
        <button mat-raised-button color="accent" (click)="saveChanges()">Save changes</button>
    </div>
</div>
