<h2 mat-dialog-title>Change password</h2>
<mat-divider [ngStyle]="{'margin-bottom' : '5vh'}"></mat-divider>
<mat-dialog-content class="mat-typography">
    <form class="form-container" [formGroup]="passwordForm"
        fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
            <!-- Old password -->
            <mat-label>Old password</mat-label>
            <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword"/>
            <button mat-icon-button matSuffix type="button"
            (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld"
            >
            <mat-icon>{{ hideOld ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.invalid">{{ validator.validate3To30('oldPassword')}}</mat-error>
        </mat-form-field>
        <!-- New password -->
        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"/>
            <button mat-icon-button matSuffix type="button"
            (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew"
            >
            <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.invalid">{{ validator.validate3To30('newPassword')}}</mat-error>
        </mat-form-field>
        <!-- Repeat password -->
        <mat-form-field appearance="fill">
            <mat-label>Repeat password</mat-label>
            <input matInput [type]="hideRepeat ? 'password' : 'text'" formControlName="repeatPassword"/>
            <button mat-icon-button matSuffix type="button"
            (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeat"
            >
            <mat-icon>{{ hideRepeat ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.invalid">{{ validator.validate3To30('repeatPassword')}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-divider [ngStyle]="{'margin-top' : '5vh'}"></mat-divider>
<mat-dialog-actions align="end">
  <button mat-stroked-button color='primary' (click)="onCancel()">Cancel</button>
  <button mat-flat-button color='primary' (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions> 