<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Please enter your pin code to confirm your identity.</p>
  <mat-form-field appearance="fill">
    <mat-label>Pin code</mat-label>
    <input
      type="password"
      maxlength="4"
      minlength="4"
      matInput
      [(ngModel)]="data.pinCode"
      cdkFocusInitial
    />
  </mat-form-field>
  <p
    *ngIf="
      data.pinCode == undefined ||
      (data.pinCode + '').length < 4 ||
      (data.pinCode + '').length > 4
    "
    class="warning-paragraph"
  >
    Pin code must have 4 digits!
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    [disabled]="
      data.pinCode == undefined || data.pinCode > 9999 || data.pinCode < 1000
    "
    mat-button
    [mat-dialog-close]="data.pinCode"
  >
    > Ok
  </button>
</div>
