<div fxLayout="column" class="page">
  <div
    fxLayout="row"
    style="margin-right: 15px"
    fxLayoutAlign.gt-sm="space-between center"
  >
    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedIndexChange)="selectedChanged($event)"
    >
      <mat-tab
        *ngFor="let room of rooms; let index = index"
        [label]="room.name"
      >
      </mat-tab>
    </mat-tab-group>
    <div>
      <button
        color="primary"
        mat-raised-button
        class="example-add-tab-button"
        (click)="openDialog(true)"
      >
        Add
      </button>
      <button
        mat-raised-button
        class="example-add-tab-button"
        (click)="openDialog(false)"
      >
        Rename
      </button>
      <button
        color="warn"
        mat-raised-button
        class="example-delete-tab-button"
        [disabled]="rooms.length === 1"
        (click)="removeRoom()"
      >
        Delete
      </button>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start" class="form-div">
      <button
        mat-raised-button
        class="example-delete-tab-button"
        (click)="turnOnEditMode()"
        [disabled]="editMode"
        style="margin-bottom: 70px"
      >
        Edit
      </button>
      <form
        class="form-container"
        [formGroup]="detailsForm"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <!-- Row -->
        <mat-form-field appearance="fill">
          <mat-label>Row</mat-label>
          <input
            [disabled]="!editMode"
            matInput
            type="number"
            max="10"
            min="1"
            formControlName="row"
          />
          <mat-error *ngIf="detailsForm.invalid">{{
            validator.validateMin1Max10("row")
          }}</mat-error>
        </mat-form-field>
        <!-- Column -->
        <mat-form-field appearance="fill">
          <mat-label>Column</mat-label>
          <input
            [disabled]="!editMode"
            matInput
            type="number"
            max="10"
            min="1"
            formControlName="column"
          />
          <mat-error *ngIf="detailsForm.invalid">{{
            validator.validateMin1Max10("column")
          }}</mat-error>
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        class="example-delete-tab-button"
        (click)="applyLayoutChanges()"
        [disabled]="!editMode || checkDifference() || detailsForm.invalid"
        style="margin-bottom: 70px"
      >
        Apply layout changes
      </button>
      <button
        color="primary"
        mat-raised-button
        class="example-delete-tab-button"
        (click)="save()"
        [disabled]="!editMode"
      >
        Save
      </button>
      <button
        color="warn"
        mat-raised-button
        class="example-delete-tab-button"
        (click)="cancel()"
        [disabled]="!editMode"
      >
        Cancel
      </button>
    </div>
    <div fxFlex fxLayout="column" class="form-div" id="floor-div">
      <div
        *ngFor="let i of [].constructor(getRows()); index as i_index"
        fxFlex
        fxLayout="row"
        class="transaprent-element"
      >
        <div
          class="transaprent-element"
          *ngFor="let j of [].constructor(getColumns()); index as j_index"
          fxFlex
          fxLayout="column"
        >
          <app-room-space
            [editMode]="editMode"
            [tables]="getTables()"
            [row]="i_index"
            [column]="j_index"
            fxFlex
            class="transaprent-element"
          ></app-room-space>
        </div>
      </div>
    </div>
  </div>
</div>
