<div fxLayout="row" fxLayoutAlign.gt-sm="space-between center">
  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)"
  >
    <mat-tab *ngFor="let room of rooms; let index = index" [label]="room.name">
    </mat-tab>
  </mat-tab-group>
  <div>
    <button
      mat-raised-button
      class="example-add-tab-button"
      (click)="openDialog(true)"
    >
      Add
    </button>
    <button
      mat-raised-button
      class="example-add-tab-button"
      (click)="openDialog(false)"
    >
      Rename
    </button>
    <button
      mat-raised-button
      class="example-delete-tab-button"
      [disabled]="rooms.length === 1"
      (click)="removeRoom()"
    >
      Delete
    </button>
  </div>
</div>
