.home-container {
  height: 10vh;
}

#home-button {
  height: 7vh;
  width: 20vw;
  font-size: xx-large;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

mat-icon {
  position: absolute;
  left: 10px;
  font-size: xx-large;
}
