.main-container {
  height: 90vh;
}

.details-card {
  margin-top: 2.5vh;
  width: 30vw;
  height: 82.5vh;
  background-color: rgb(230, 230, 230);
}

form {
  margin-top: 3vh;
}

mat-form-field {
  font-size: large;
  width: 50%;
}

button {
  font-size: large;
  width: 48%;
}

.buttons-container {
  width: 50%;
}

mat-card {
  overflow-y: scroll;
}

.table-container {
  margin-top: 5vh;
  height: 50vh;
  overflow-y: scroll;
}
