<app-header></app-header>

<div class="main-container" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="table-container">
        <app-employees-table (selectedRowChanged)="getDetails($event)"></app-employees-table>
    </div>
    <mat-card class="details-card">
    <mat-tab-group>
        <mat-tab label="Details">
            <form class="form-container" [formGroup]="detailsForm" (ngSubmit)="editUser()"
            fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput placeholder="pat" formControlName="firstName" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="pat" formControlName="lastName" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email address</mat-label>
                <input matInput placeholder="pat" formControlName="emailAddress" required/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pin code</mat-label>
                <input matInput placeholder="pat" formControlName="pinCode" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput placeholder="pat" formControlName="type" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Salary</mat-label>
                <input matInput placeholder="pat" formControlName="salary" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="pat" formControlName="phoneNumber" required/>
            </mat-form-field>
                <div class="buttons-container" fxLayout="row" fxLayoutAlign="space-around center">
                    <button mat-stroked-button color="primary" type="button" (click)="cancelEdit()" *ngIf="isEnabledEditing">Cancel</button>
                    <button mat-flat-button color="primary" type="button" (click)="enableEdit()" *ngIf="!isEnabledEditing">Edit</button>
                    <button mat-flat-button color="primary" type="submit" *ngIf="isEnabledEditing">Save</button>
                </div>
            </form> </mat-tab>
        <mat-tab label="Report"> Report goes here... </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>