<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Identification number Column -->
  <ng-container matColumnDef="demo-id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef>Nameee</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <!-- Phone number Column -->
  <ng-container matColumnDef="demo-phone-number">
    <th mat-header-cell *matHeaderCellDef>Phone number</th>
    <td mat-cell *matCellDef="let user">{{ user.phoneNumber }}</td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="demo-type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let user">{{ user.type }}</td>
  </ng-container>

  <!-- Delete button -->
  <ng-container matColumnDef="demo-delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button color="warn" class="clear-button" (click)="rowDeletedEmit(user, $event)">
        <mat-icon>clear</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    style="position: relative;"
    (click)="rowChangedEmit(row)"
    [class.demo-row-is-clicked]="clickedRow === row"
    *matRowDef="let row; columns: displayedColumns"></tr>
</table>