.home-container {
  padding: 20px;
}

.details-container {
  background-color: lightgray;
  margin: 0 10px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px;
}

mat-list {
  border-radius: 1vh;
  background-color: white;
}

mat-list-item {
  border-bottom: 1px solid lightgray;
}

h2 {
  padding: 10px;
  margin-bottom: 0;
}

.notes-container {
  border-radius: 1vh;
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
}

.accept-button {
  font-size: medium;
  padding: 5px 20px;
}

.column3-container {
  margin-bottom: 10px;
}

#mat-list-container {
  padding-top: 0;
}
