<app-header></app-header>
<div
  class="home-container"
  fxLayout.lt-md="column"
  fxLayout="row"
  fxLayoutAlign.gt-sm="start start"
>
  <div class="column3-container" fxFlex fxLayout="row">
    <div fxFlex>
      <app-item-list [title]="'ON HOLD'"></app-item-list>
    </div>
    <div fxFlex>
      <app-item-list [title]="'PREPARATION'"></app-item-list>
    </div>
    <div fxFlex>
      <app-item-list [title]="'READY'"></app-item-list>
    </div>
  </div>
  <div
    fxFlex
    class="details-container"
    fxLayout="column"
    fxLayoutAlign="space-around "
  >
    <div style="text-align: end">
      <button class="close-button" mat-mini-fab color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h2>ITEMS</h2>
    <mat-list id="mat-list-container" fxLayout="column">
      <div fxFlex>
        <mat-list-item fxFlex>Item 1</mat-list-item>
      </div>
      <div fxFlex>
        <mat-list-item fxFlex>Item 2</mat-list-item>
      </div>
      <div fxFlex>
        <mat-list-item fxFlex>Item 3</mat-list-item>
      </div>
    </mat-list>
    <h2>NOTES</h2>
    <div class="notes-container">
      <h3>Ovo je sad popunjeno</h3>
    </div>
    <h3>Table: L8</h3>
    <h3>Created at: 11:42</h3>
    <h3>Bartender: Jovan Simic</h3>
    <div style="text-align: center">
      <button class="accept-button" mat-raised-button color="primary">
        Accept
      </button>
    </div>
  </div>
</div>
