.home-container {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

app-item-list {
  margin-right: 1vw;
}

.details-container {
  background-color: lightgray;
  padding: 2vw;
  box-shadow: 0px 0px 5px gray;
}

mat-list {
  border-radius: 1vh;
  background-color: white;
  padding-top: 0px;
}

mat-list-item {
  border-bottom: 1px solid lightgray;
}

h2 {
  padding-left: 16px;
}