<app-header></app-header>
<div
  class="home-container"
  fxLayout.lt-md="column"
  fxLayout="row"
  fxLayoutAlign.gt-sm="start start"
>
  <div class="column3-container" fxFlex fxLayout="row">
    <div fxFlex>
      <app-item-list
        [items]="getOnHoldItems()"
        [title]="'ON HOLD'"
        [indexSelected]="indexOfSelectedItem"
        (itemClicked)="onItemClicked($event)"
      ></app-item-list>
    </div>
    <div fxFlex>
      <app-item-list
        [items]="getPreparationItems()"
        [title]="'PREPARATION'"
        [indexSelected]="indexOfSelectedItem"
        (itemClicked)="onItemClicked($event)"
      ></app-item-list>
    </div>
    <div fxFlex>
      <app-item-list
        [items]="getReadyItems()"
        [title]="'READY'"
        [indexSelected]="indexOfSelectedItem"
        (itemClicked)="onItemClicked($event)"
      ></app-item-list>
    </div>
  </div>

  <div fxFlex *ngIf="detailsAreDisplayed">
    <app-item-details
      [item]="displayedItem"
      (closeEvent)="onCloseEvent()"
    ></app-item-details>
  </div>
</div>
