<div
  fxFlex
  class="details-container"
  fxLayout="column"
  fxLayoutAlign="space-around "
>
  <div style="text-align: end">
    <button
      class="close-button"
      mat-mini-fab
      color="primary"
      (click)="onClose()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center ">
    <h2>ITEMS</h2>
    <h2>AMOUNT</h2>
  </div>
  <mat-list id="mat-list-container" fxLayout="column">
    <div fxFlex *ngFor="let component of item?.drinkItemList">
      <mat-list-item
        >{{ component.itemName }}
        <span>{{ component.amount }}</span></mat-list-item
      >
    </div>
  </mat-list>
  <h2>NOTES</h2>
  <div class="notes-container">
    <h3>{{ item?.notes !== null ? item?.notes : "Empty" }}</h3>
  </div>
  <h3>Created at: {{ getTime() }}</h3>
  <h3>Bartender: {{ item?.bartender !== "" ? item?.bartender : "None" }}</h3>
  <div style="text-align: center">
    <button
      [disabled]="item?.state === 'READY'"
      class="accept-button"
      mat-raised-button
      color="primary"
    >
      {{ getTextForButton() }}
    </button>
  </div>
</div>
