.tab-cotainer {
    padding-top: 5vh;
    margin: 0px auto;
    width: 70vw;
    height: 75vh;
    background-color: var(--card-color);
    box-shadow: 0px 0px 10px lightslategray;
}

.year-input-container {
    margin-bottom: 5vh;
}

.year-input-container > button {
    display: none;
}

h2 {
    margin-right: 30px;
}

mat-form-field {
    font-size: large;
}

#year-input {
    margin-right: 20px;
}

.chart-space {
    width: 80%;
    margin: auto;
}
