<app-unregistered-header></app-unregistered-header>
<div fxLayout="row" class="table-details-component" [ngClass]="{'hidden': !isWaiter}">
  <div fxLayout="column" fxLayoutAlign="space-between none" fxFlex="20" class="table-information">
    <div class="primary-information">
      <div class="primary-information-section">
        <div fxLayout="row">
          <mat-icon>date_range</mat-icon>
          <span class="primary-information-label">CREATED AT</span>
        </div>
        <p class="primary-information-p">{{order?.createdAt}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="primary-information-section">
        <div fxLayout="row">
          <mat-icon>person</mat-icon>
          <span class="primary-information-label">WAITER</span>
        </div>
        <p class="primary-information-p">{{order?.waiter}}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="primary-information-section">
        <div fxLayout="row">
          <mat-icon>attach_money</mat-icon>
          <span class="primary-information-label">TOTAL PRICE</span>
        </div>
        <p class="primary-information-p">{{order?.totalPrice}}$</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" class="primary-information-actions">
      <button mat-raised-button color="accent">Discard</button>
      <button mat-raised-button color="primary">Charge</button>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="space-between ">
    <div fxLayout="row">
      <div fxFlex class="table-details-list">
        <h2>Drinks</h2>
        <mat-list role="list" class="table-details-mat-list">
          <mat-list-item role="listitem" *ngFor="let item of order?.drinkItemsList">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
              <span fxFlex>{{item.name}}</span>
              <div fxFlex *ngIf="item.state === 'ON_HOLD'" style="text-align: end;">
                <mat-icon color="primary" (click)="openEditOrderItemDialog(item)">edit</mat-icon>
                <mat-icon color="warn">clear</mat-icon>
              </div>
              <div *ngIf="item.state === 'PREPARATION'" fxFlex style="text-align: end;">
                <p style="font-size: 12px; color: grey;">PREPARING...</p>
              </div>
              <div *ngIf="item.state === 'READY'" fxFlex style="text-align: end;">
                <button mat-raised-button color="accent" (click)="deliverDrinkItems(order?.waiterId, item.id)">Deliver</button>
              </div>
              <!-- <div *ngIf="item.state === 'DELIVERED'" fxFlex style="text-align: end;">
                <mat-icon style="color: green;">done</mat-icon>
              </div> -->
            </div>
          </mat-list-item>
        </mat-list>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="action-buttons">
          <button mat-button color="primary">Deliver all</button>
          <button mat-button>
            <mat-icon color="primary" (click)="openCreateDrinkItemsDialog()">add</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex class="table-details-list">
        <h2>Dishes</h2>
        <mat-list role="list" class="table-details-mat-list">
          <mat-list-item role="listitem" *ngFor="let item of order?.dishItemList">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
              <span fxFlex>{{item.orderedItem.itemName}}</span>
              <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex *ngIf="item.state === 'NEW'" style="text-align: end;">
                <button mat-raised-button color="primary" (click)="changeDishItemState( order?.waiterId, item.id)">prepare</button>
                <mat-icon color="primary" (click)="openEditOrderItemDialog(item)">edit</mat-icon>
                <mat-icon color="warn">clear</mat-icon>
              </div>
              <div *ngIf="item.state === 'ON_HOLD'" fxFlex style="text-align: end;">
                <p style="font-size: 12px; color: grey;">ON HOLD</p>
              </div>
              <div *ngIf="item.state === 'PREPARATION'" fxFlex style="text-align: end;">
                <p style="font-size: 12px; color: grey;">PREPARING...</p>
              </div>
              <div *ngIf="item.state === 'READY'" fxFlex style="text-align: end;">
                <button mat-raised-button color="accent" (click)="changeDishItemState( order?.waiterId, item.id)">Deliver</button>
              </div>
              <!-- <div *ngIf="item.state === 'DELIVERED'" fxFlex style="text-align: end;">
                <mat-icon style="color: green;">done</mat-icon>
              </div> -->
            </div>
          </mat-list-item>
        </mat-list>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="action-buttons">
          <button mat-button color="primary">Deliver all</button>
          <button mat-button>
            <mat-icon color="primary" (click)="openCreateDishItemDialog()">add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div style="text-align: end; margin: 0 10px 10px 0;">
      <button mat-raised-button color="accent">Back to room</button>
    </div>
  </div>
  
</div>
