.demo-table {
  width: 100%;
}

.mat-column-demo-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name,
.mat-column-demo-phone-number,
.mat-column-demo-type {
  padding-left: 16px;
  font-size: 1.5em;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-form-field {
  font-size: 1.5em;
  width: 100%;
}
