<div class="home-container" fxLayout="column" fxLayoutAlign="center center" >
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="home-user-icon" routerLink="/home/waiter">
            <img src="assets/images/waiter.png">
            <h2>Waiter</h2>
        </div>
        <div class="home-user-icon">
            <img src="assets/images/chef.png">
            <h2>Chef</h2>
        </div>
        <div class="home-user-icon">
            <img src="assets/images/bartender.png">
            <h2>Bartender</h2>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="home-user-icon" routerLink="/login">
            <img src="assets/images/boss.png">
            <h2>Registered user</h2>
        </div>
    </div>
</div>