/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #673ab7;
  --header-color: rgb(210, 190, 210);
  --card-color: rgb(235, 230, 235);
  --light-grey: rgb(240, 240, 240);
}
